@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: black;
}
.css-1s2u09g-control {
  background: black !important;
  border-color: #181818 !important;
}
