.lists {
  ul {
    border: 1px solid #f8f8f8;
    width: auto;
    li {
      padding: 10px;
      margin: 0 5px;
      a {
        font-size: 13px;
      }
    }
    .active {
      background-color: black;
      a {
        color: white;
        font-weight: bold;
      }
    }
  }
}

.component {
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 100px;
  padding-bottom: 100px;
  height: 100vh;
  width: 100%;
  margin: auto;
}
.componentContainer {
  width: 500px;
  margin: auto;
}
.listItem {
  border: 1px solid #f8f8f8;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 10px 0px;
}
.fixedBottom {
  border-top: 1px solid #f8f8f8;
  padding: 10px;
}
.reactPaginate {
  width: 500px;
  margin: auto;
  ul {
    display: flex;
  }
  li {
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    width: 40px;
    height: 30px;
    text-align: center;
  }
  .selected{
   background: black;
    color: white;
    border-radius: 20px;
  }
}
