.lists {
  ul {
    border: 1px solid #f8f8f8;
    width: auto;
    li {
      padding: 10px;
      margin: 0 5px;
      a {
        font-size: 13px;
      }
    }
    .active {
      background-color: black;
      a {
        color: white;
        font-weight: bold;
      }
    }
  }
}

.component{
  width: 500px;
  margin: auto;
  padding-top: 50px;
}
.listItem{
  border: 1px solid #f8f8f8;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 10px 0px;
}