.lists {
  ul {
    border: 1px solid #f8f8f8;
    width: auto;
    li {
      padding: 10px;
      margin: 0 5px;
      a {
        font-size: 13px;
      }
    }
    .active {
      background-color: black;
      a {
        color: white;
        font-weight: bold;
      }
    }
  }
}
